<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>ProteinIntakeServlet</servlet-name>
        <servlet-class>com.fitness.client.ProteinIntakeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserInfoServlet</servlet-name>
        <servlet-class>com.fitness.client.UserInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CaloriesBurnServlet</servlet-name>
        <servlet-class>com.fitness.client.CaloriesBurnServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CalorieDeficitServlet</servlet-name>
        <servlet-class>com.fitness.client.CalorieDeficitServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BMIServlet</servlet-name>
        <servlet-class>com.fitness.client.BMIServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProteinIntakeServlet</servlet-name>
        <url-pattern>/ProteinIntakeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserInfoServlet</servlet-name>
        <url-pattern>/UserInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CaloriesBurnServlet</servlet-name>
        <url-pattern>/CaloriesBurnServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CalorieDeficitServlet</servlet-name>
        <url-pattern>/CalorieDeficitServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BMIServlet</servlet-name>
        <url-pattern>/BMIServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
